.body {
    background-image: url("../img/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.h1 {
    font-size: 80px;
    text-align: center;
    color: #f00;
    font-family: 'Stick', sans-serif;
    text-shadow: -8px -2px black;
}